aiofiles==24.1.0
argcomplete==2.0.0
Babel==2.12.1
Beaker==1.12.1
beautifulsoup4==4.12.3
blinker==1.8.2
borsh==0.0.1
Brotli==1.1.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.3
cryptography==41.0.7
cssselect==1.1.0
dasbus==1.7
dbus-python==1.3.2
distro==1.8.0
dnf==4.21.0
fb-re2==1.0.7
fedora-third-party==0.10
file-magic==0.4.0
Flask==3.0.3
fros==1.1
gitdb==4.0.11
GitPython==3.1.43
humanize==3.13.1
i3ipc==2.2.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
langtable==0.0.68
libcomps==0.1.20
libdnf==0.73.2
lxml==4.9.3
Mako==1.2.3
MarkupSafe==2.1.3
mercurial==6.5.3
mutagen==1.46.0
netifaces==0.11.0
nftables==0.1
numpy==2.0.1
nwg-panel==0.9.35
olefile==0.46
packaging==23.1
Paste==3.5.3
pandas==2.2.2
pexpect==4.8.0
pid==2.2.3
pillow==10.3.0
ply==3.11
productmd==1.38
progressbar2==3.53.2
psutil==5.9.5
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.20.0
pycups==2.0.4
pyenchant==3.2.2
pygit2==1.14.0
PyGObject==3.46.0
pykickstart==3.48
pyOpenSSL==23.2.0
pyparted==3.13.0
pyprland==2.4.0
pyquery==1.4.3
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-meh==0.51
python-utils==3.3.3
python-xlib==0.33
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
regex==2024.4.16
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.19.1.1
rpmautospec==0.6.5
rpmautospec-core==0.1.5
scikit-learn==1.5.1
scipy==1.14.0
setools==4.4.3
setuptools==67.7.2
shapely==2.0.5
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
smmap==5.0.1
sos==4.6.0
soupsieve==2.5
systemd-python==235
Tempita==0.5.2
threadpoolctl==3.5.0
urllib3==1.26.19
websockets==11.0.3
Werkzeug==3.0.3
yt-dlp==2024.7.9
zombie-imp==0.0.2